.topTracks {
  background-color: crimson;
  border-radius: 5rem;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  text-align: center;
  width: 100%;
}

.topTracks ol {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
  overflow-y: scroll;
}

.topTracks ol li {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.topTracks .artistList {
  display: flex;
  flex-direction: column;
}
