:root {
  --background-rgb: 50, 50, 50;
  --foreground-rgb: 255, 255, 255;

  --box-shadow: 8px 7px 17px 2px rgba(0,0,0,0.75);

  --hover-transtion: 0.1s all ease-in-out;
  --hover-color-change: brightness(85%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}
